---
layout: base
title: Rikky Nguyen
permalink: /about
---

<h1 class="headline col-12">I’m a <highlight class="text-primary">hybrid</highlight> species</h1>
<div class="row">
  <div class="col-12">
  </div>

  <div class="col-12 col-lg-7 col-xl-8">
    <div class="row">
      {% for item in site.data.about %}
        <div class="col-12 col-md-6 mb-50">
          <h3 class="h3">{{ item.title }}</h3>
          
          {% if item.layout == 'table' %}
            <table class="table text-white">
              <tbody>
                {% for content in item.content %}
                  <tr>
                    <td class="ps-0">{{content[0]}}</td>
                    <td>{{content[1]}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% elsif item.layout == 'text-list' %}
            {% for content in item.content %}
              <p>
                <strong>{{ content.title }}</strong><br>
                <span class="text-grey">{{ content.label }}</span><br>
                {{ content.cert }}
              </p>
            {% endfor %}
          {% elsif item.layout == 'img-list' %}
            <div class="img-list">
              {% for content in item.content %}
                <img src="{{ content.img | relative_url }}" alt="{{ content.title }}" />
              {% endfor %}
            </div>
          {% else %}
            <p>{{ item.content }}</p>
          {% endif %}
          
        </div>
      {% endfor %}

    </div>
  </div>

  <div class="col-12 col-lg-5 col-xl-4">
    {% include _timeline.html %}
  </div>
</div>
