---
layout: base
title: Rikky Nguyen
permalink: /about
---

<div class="row">
  <div class="col-12 col-lg-4">
    <div class="row">
      <h1 class="headline text-xxl col-12">Not designer nor developer</h1>
      <p class="text-md text-grey col-12 col-md-9 offset-md-3 offset-lg-0 col-lg-12">
        I’m frank, friendly, funny and I’m a multidisciplinary designer & front end developer. 
        My main field is UI (design and front end), but I also worked on branding and communication design. 
        Obsessed in new technology, I passionate in creating and learning new things. 
        For me, sharing and listening to each others help to learn and improve myself faster.
      </p>
    </div>
  </div>

  <div class="col-12 col-lg-2 offset-lg-2 d-flex align-items-center timeline-nav-wrap">
    {% include _timeline.html %}
  </div>

  <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center">
    {% include _timeline-content.html %}
  </div>
</div>
