---
layout: base
title: Rikky Nguyen
permalink: /about
---

<div class="row">
  <div class="col-12 col-md-6 col-lg-4">
    <h1 class="headline text-xxl">Xin chào!</h1>
    <p class="text-md text-grey">I’m frank, friendly, funny and I’m a multidisciplinary designer. 
      My main field is UI design, but I also worked on branding and communication design. 
      Obsessed in new technology, I passionate in creating and learning new things. 
      For me, sharing and listening to each others help to learn and improve myself faster.</p>
  </div>

  <div class="col-12 col-md-2 col-lg-2 offset-lg-2 d-flex align-items-center border-start border-light">
    {% include _timeline.html %}
  </div>

  <div class="col-12 col-md-4 col-lg-4 d-flex align-items-center justify-content-center">
    {% include _timeline-content.html %}
  </div>
</div>
