.btn {
  &-primary {
    padding: 15px 50px;
    background-color: var(--color-primary);
    background: var(--grad-primary);
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    background-size: 200% 200%;

    &:hover {
      animation: gradient 1s ease both;
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}
