.navbar {
  padding-block: 1rem;
  z-index: 1000;

  &-brand {
    margin: 0;

    svg {
      fill: var(--color-primary);
    }
  }

  .nav {
    &-link {
      color: white;
      font-weight: 700;
      font-size: 2rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &-head {
    .nav {
      &-link {
        color: var(--color-grey);
        font-size: var(--fs-16-24);
        position: relative;

        &::after {
          content: '';
          display: block;
          height: 2px;
          width: 0;
          background: var(--color-primary);
          transition: width 0.3s ease-in-out;
          position: absolute;
          bottom: 0;
        }

        &.active,
        &:hover {
          color: white;

          &:after {
            width: 40%;
          }
        }
      }
    }
  }
}

.nav {
  &-skills {
    font-weight: 700;

    &-title {
      font-size: 20px;
      padding: var(--bs-nav-link-padding-y) 0;
      color: var(--color-grey);

      &::after {
        content: '';
        display: block;
        width: 2px;
        height: 50px;
        background: var(--color-grey);
        margin-top: var(--bs-nav-link-padding-y);
      }
    }

    &-item {
      font-size: 24px;
      padding: var(--bs-nav-link-padding-y) 0;
      color: var(--color-grey);
      letter-spacing: 1;

      &:hover {
        color: var(--color-primary);
      }

      &.active {
        font-size: 50px;
        color: white;
      }
    }
  }
}
