.timeline {
  --timeline-spacing: 3rem;

  list-style: none;
  padding-left: 0;

  &-item {
    display: table-row;

    & > span {
      display: table-cell;
      padding-bottom: 2rem;
    }
  }

  &-time {
    padding-right: var(--timeline-spacing);

    .badge-primary {
      background-color: var(--color-primary);
      color: var(--color-dark);
      width: 100%;
      border-radius: 0;
      position: relative;
      font-size: var(--fs-12-18);

      &::before {
        content: '';
        display: block;
        position: absolute;
        inset-block: 0;
        right: 0;
        aspect-ratio: 1 / 1;
        background-color: var(--color-primary);
        transform: rotate(45deg) scale(0.71) translate(50%, -50%);
        z-index: -1;
      }

      &::after {
        --time-point-size: 1rem;
        content: '';
        display: block;
        width: var(--time-point-size);
        height: var(--time-point-size);
        border-radius: 50%;
        background-color: var(--color-primary);
        position: absolute;
        top: 50%;
        right: calc((var(--time-point-size) + var(--timeline-spacing)) * -1);
        transform: translate(-25%, -50%);
      }
    }
  }

  &-event {
    padding-left: var(--timeline-spacing);
  }

  &-line {
    width: 0.5rem;
    height: 100%;
    background-color: rgba($color: #fff, $alpha: 0.3);
  }
}

@media (max-width: 1399.98px) {
  .timeline {
    --timeline-spacing: 2rem;
  }
}

@media (max-width: 991.98px) {
  
}

@media (max-width: 767.98px) {
  
}
