:root {
  --fs-12-18: clamp(0.75rem, 0.6856rem + 0.2746vw, 1.125rem);
  --fs-16-24: clamp(1rem, 0.9142rem + 0.3661vw, 1.5rem);
  --fs-sub-headline: clamp(1.125rem, 0.9319rem + 0.8238vw, 2.25rem);
  --fs-heading: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.75rem);
}

a {
  color: var(--color-primary);
}

.text {
  &-xxl {
    font-size: 5rem;
  }

  &-lg {
    font-size: 1.875rem;
  }

  &-md {
    font-size: 1.25rem;
  }

  &-primary {
    color: var(--color-primary)!important;
  }

  &-secondary {
    color: var(--color-secondary)!important;
  }

  &-grey {
    color: var(--color-grey)!important;
  }

  &-white {
    color: #FFF!important;
  }
}

.headline {
  font-size: var(--fs-heading);
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.sub-headline {
  font-size: var(--fs-sub-headline);
  font-weight: 300;
  color: var(--color-grey);
}

h3.h3 {
  color: var(--color-primary);
  font-size: var(--fs-sub-headline);
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 1199.98px) {
  .text {
    &-xxl {
      font-size: 4rem;
    }
  
    &-lg {
      font-size: 1.75rem;
    }
  
    &-md {
      font-size: 1rem;
    }
  }
}

@media (max-width: 991.98px) {
  .headline {
    margin-top: 50px;
  }
}

@media (max-width: 767.98px) {
  .text {
    &-xxl {
      font-size: 3rem;
    }
  
    &-lg {
      font-size: 1.5rem;
    }
  
    &-md {
      font-size: 1rem;
    }
  }
}
