<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="57x57" href="{{'/assets/favico/apple-icon-57x57.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{'/assets/favico/apple-icon-60x60.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{'/assets/favico/apple-icon-72x72.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{'/assets/favico/apple-icon-76x76.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{'/assets/favico/apple-icon-114x114.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{'/assets/favico/apple-icon-120x120.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{'/assets/favico/apple-icon-144x144.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{'/assets/favico/apple-icon-152x152.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{'/assets/favico/apple-icon-180x180.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{'/assets/favico/android-icon-192x192.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'/assets/favico/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{'/assets/favico/favicon-96x96.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'/assets/favico/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{'/assets/favico/manifest.json' | relative_url }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{'/ms-icon-144x144.png' | relative_url }}">
    <meta name="theme-color" content="#ffffff">

    <title>{{ page.title }} - {{ site.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ "assets/css/slick.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/css/slick-theme.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
  </head>
  <body class="{{ page.class }}">
    <nav class="navbar navbar-head">
      <div class="container-fluid">
        <a href="{{ '/' | relative_url }}" class="navbar-brand">
          <svg width="54" height="80" viewBox="0 0 54 80">
            <path d="M0 80L26.6667 60L53.3333 80V66.6667L35.5556 53.3333L53.3333 40L0 0V13.3333L35.5556 40L26.6667 46.6667L0 26.6667V80ZM10.2556 58.9733V47.6933L17.7778 53.3333L10.2556 58.9733Z" />
          </svg>
        </a>
        <ul class="nav justify-content-end align-self-end">
          {% for item in site.data.nav.header %}
            <li class="nav-item">
              <a class="nav-link{% if page.url == item.link %} active{% endif %}" href="{{item.link | relative_url }}">{{item.name}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div class="wrapper">
      <div class="container-fluid {{ page.container_class }}">
        {{ content }}
      </div>
    </div>

    <footer class="navbar">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <ul class="nav">
              {% for item in site.data.nav.footer %}
              <li class="nav-item">
                <a class="nav-link" href="{{item.link | relative_url }}">
                  <i class="fa-brands fa-{{ item.icon }}"></i>
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://kit.fontawesome.com/edc770ec56.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous" defer></script>
<!--    <script src="{{'assets/js/slick.js' | relative_url }}" defer></script>-->
    <script src="{{'assets/js/app.js' | relative_url }}" defer></script>
    
  </body>
</html>
